<div class="row">
  <div class="col-md-12">
    <h1>My Wiki</h1>
    <hr>
    <div id="article">
        <h4><strong>このサイトについて</strong></h4>
        <p>個人的メモを気軽に保存しておくために作りました。</p>
    </div>
  </div>
</div>